@*     <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" />
        </Found>
    </Router> *@
<div>
    <b>App.razor</b>
    <Test CurrentCount="5"></Test>
</div>
<script src="_framework/blazor.web.js"></script>