<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles_blazor.css" />
    <meta charset="utf-8">
    <meta name="author" content="NickyParsons" />
    <title>NickyParsons Site | @title</title>
    <base href="/" />
    <script src="_framework/blazor.web.js"></script>
</head>
<body>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="@typeof(TestAspNetApplication.RazorComponents.Layouts.MainLayout)"></RouteView>
        </Found>
    </Router>
</body>
</html>

@code {
    string title = "Blazor App";
}