@page "/test1"
@rendermode RenderMode.InteractiveServer

<div>
    @if (AuthenticationStateProvider!.GetAuthenticationStateAsync().Result.User.Identity!.IsAuthenticated)
    {
        <p>@AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity!.Name</p>
    }
    else
    {
        <p>FALSE</p>
    }
    <p><b>Razor Test Component</b></p>
    <button @onclick="DecrementCount">-</button>
    <button>@CurrentCount</button>
    <button @onclick="IncrementCount">+</button>
</div>


@code {
    [Inject]
    public AuthenticationStateProvider? AuthenticationStateProvider { get; set; }
    [Parameter]
    public int CurrentCount { get; set; } = 0;

    private void IncrementCount(MouseEventArgs e)
    {
        if (e.CtrlKey)
        {
            CurrentCount = CurrentCount + 10;
        }
        else
        {
            CurrentCount++;
        }
    }

    private void DecrementCount(MouseEventArgs e)
    {
        if (e.CtrlKey)
        {
            if (CurrentCount > 10)
            {
                CurrentCount = CurrentCount - 10;
            }
            else
            {
                CurrentCount = 0;
            }
        }
        else
        {
            if (CurrentCount > 0) CurrentCount--;
        }
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        if (AuthenticationStateProvider != null)
        {
            var authState = AuthenticationStateProvider.GetAuthenticationStateAsync().Result;
        }
        base.OnParametersSet();
    }
}