@page "/Register"
@model TestAspNetApplication.Pages.RegisterModel
@{
    ViewBag.Title = "Регистрация нового пользователя";
}
@if(Model.Message != null){
    <p>@Model.Message</p>
}
<form action="/Register" method="post">
    <p>
        <label for="emailField">Введите E-mail: </label>
        <input type="email" name="email" id="emailField" required />
    </p>
    <p>
        <label for="passwordField">Введите пароль: </label>
        <input type="password" name="password" id="passwordField" required />
    </p>
    <p>
        <label for="passwordRepeatField">Повторите пароль: </label>
        <input type="password" name="passwordRepeat" id="passwordRepeatField" required />
    </p>
    <p>
        <input type="submit" value="Регистрация" />
    </p>
</form>
